@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Hairline.woff2") format("woff2"), url("../fonts/Lato-Hairline.woff") format("woff");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
body{
	font-family: "Lato";
}
#blueviolet{
	color: blueviolet;
}
.text-larsseit{
	font-family: "Larsseit";
	font-weight: 700;
}
p{
	font-family: "Roboto";
}
*{
	color: grey;
}
div.block p{
	color: cornflowerblue;
}
.block.text p{
	color: brown;
}
a{
	color: black;
}
h2{
	color:violet;
}